body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav.navbar.navbar-default {
  margin-bottom: 0;
}

/* navbar */
.navbar {
  color: black;
  padding-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 10px;
}
.name {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: red;
}

.navbar .nav-item {
  font-size: 16px;
  font-weight: 300;
  color: Red;
}

small {
  font-size: 16px;
  font-weight: 300;
  color: black;
}

.resume-btn {
  margin-right: 10px;
}

.about,
.bio-card {
  align-items: center;
}

.center {
  text-align: center;
  margin-top: 20px;
  font-family: poppins;
}

.headshot {
  border-radius: 50%;
  top: 30px;
  right: 20%;
  margin-top: 40px;
  margin-left: 130px;
  margin-bottom: -30px;
}

.card-body {
  margin-top: 20px;
}
